* {
    box-sizing: border-box;
    font-family: "system-ui", sans-serif; 
    font-size: small;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
$Color-1: #777;
// $Color-2: #163e64;
// $Color-2: #50623A;
// $Color-2: #365486;
$Color-2: #225f7d; 
$Color-3: #eee;
$Color-4: #ffcece;
$Color-5: #111;
$Color-6: #8cff9a;

::-webkit-scrollbar {
    background-color: none;
    width: .75em;
}
::-webkit-scrollbar-thumb {
    background-color: #4d78a5; 
}

.Hide { display: none !important }
.Show { display: block !important }
  
.error-x-wrapper {
    display: none;
    justify-content: center;
    margin-top: .5em;
    position: absolute;
    width: 100%;
    z-index: 100;

    .error-x {
        background-color: rgb(255, 58, 58);
        color: #fff;
        padding: 1em; 
    }
}

@import 'forms/_Filter';
@import 'contents/_Loader';
@import 'forms/_Form-1';
@import 'forms/_Delete';
@import 'contents/_NoData';
@import '_Pagination';
@import '_Login';
@import '_Layout-2';
@import 'contents/_Vessels';
@import 'contents/_Availability';
@import 'contents/_Testimonials';
@import 'contents/_Operations';
@import 'contents/_Notifications';
@import 'contents/_ListComponent';