.availability {
    position: relative;
    width: 20%;

    .company-logo {
        background-color: #fff;
        position: sticky;
        text-align: center;
        translate: 0 -1em;
        width: 100%;
        z-index: 100;
    }
             
    &.dashboard {
        width: 70%;
    } 

    .dashboard-inner {
        .FilterByDateButton, .FilterReportByDateButton,.FilterReportForVesselByDate, .FilterChart4ForVesselData, .RecordAvailabilityButton, .DisplayChart3Button {
            background-color: #ff6868;
            color: #fff;
            border: none;
            border-radius: 0.3em;
            cursor: pointer;
            margin-block: 0.5em;
            padding: 1em 2em;
            position: absolute;
            right: 1em;
            top: 1em;
            z-index: 100;
        } 

        .RecordAvailabilityButton {
            right: 9em;
        }
    }

    .list {
        // padding: unset;

        .-x {
            .notification-wrapper {
                align-items: center;
                color: #888 !important;
                display: flex;
                padding: 0 .5em;

                span {
                    &:nth-child(2) {
                        margin-left: 1em;
                        width: 7em;
                    }
                }
            }
        }
    }
}

@media (max-width: 1785px) {
    .availability {
        width: 25%;

        &.vessel-content {
            h2 {
                font-size: 2em;
                padding: 0.15em;
                text-align: center;
            }
        }

        #chart_div1 {
            display: none;
        }

        .list {
            padding: .5em 0;
        }

        .RecordAvailabilityButton, .FilterByDateButton {
            top: 0.2em !important;
        }
    }

    .availability.dashboard {
        .board-1 {
            .div {
                width: 49%;

                &:nth-child(3) {
                    display: none;
                }

                .indicators-wrapper {
                    display: unset;

                    .indicators-inner {
                        width: 100%;

                        &-x {
                            span {
                                &:first-of-type { 
                                    height: 1em;
                                    width: 1em;
                                }
                            }
                        }
                    }
                }

                .status {
                    // height: 1em !important;
                    width: 100% !important;
                }

                table {
                    tr {
                        .operation-responsive {
                            // display: block !important;
                            display: none;
                        }
                    }
                }
            }
        } 
    }

    .availability.notifications {
        .list {
            .inner.-x {
                .notification-wrapper {
                    span {
                        font-size: .75em;
                    }
                }
            }
        }
    }
  }

  .DisplayChart3Button {
    cursor: pointer;
    position: absolute;
    top: unset;
    bottom: .5em;
    right: 1em;
    z-index: 200;
    background-color: #ff6868;
    border: none;
    border-radius: .3em;
    padding: .3em;

    svg {
        fill: #fff;
    }
  }