.availability {
    width: 20%;
                    
    .docking { background-color: #03AED2; }
    .operation { background-color: #A87676; }
    .breakdown { background-color: #da1e28; }
    .maintenance { background-color: #52f781; }
    .inspection { background-color: #ff832b; }
    .bunkery { background-color: #8a3ffc; }
    .idle { background-color: #fff; }

    &.dashboard {
        width: 70%;
    }

    .dashboard-inner {
        .FilterByDateButton {
            background-color: #ff6868;
            color: #fff;
            border: none;
            border-radius: 0.3em;
            cursor: pointer;
            margin-block: 0.5em;
            padding: 1em 2em;
            position: absolute;
            right: 1em;
            top: 1em;
            z-index: 100;
        }
    }

    .list {
        // padding: unset;

        .-x {
            .notification-wrapper {
                align-items: center;
                color: #888 !important;
                display: flex;
                padding: 0 .5em;

                span {
                    &:nth-child(2) {
                        width: 7em;
                    }
                }
            }
        }
    }
}

@media (max-width: 1785px) {
    .availability.dashboard {
        .board-1 {
            .div {
                width: 49%;

                &:nth-child(3) {
                    display: none;
                }

                .indicators-wrapper {
                    display: unset;

                    .indicators-inner {
                        width: 100%;

                        &-x {
                            span {
                                &:first-of-type { 
                                    height: 1em;
                                    width: 1em;
                                }
                            }
                        }
                    }
                }

                .status {
                    height: 1em !important;
                    width: 100% !important;
                }

                table {
                    tr {
                        .operation-responsive {
                            display: block !important;
                        }
                    }
                }
            }
        } 
    }
  }
