.loader {
    align-items: center;
    background: rgba(0, 0, 0, .8);
    display: flex;
    display: none;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100vw;
    z-index: 300;

    &-2 {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100vh;

        div {
            &:last-of-type {
                border-left: 1px solid #aaa;
                padding-left: 1em;
            }

            h3 {
                color: #777;
                font-weight: 300;
            }

            p {
                color: red;
                font-size: xx-large;
                font-weight: 800;
            } 
        }
        .x {
            transition-duration: 2s;
        }
    }

    img {
        border-radius: 15em;
        height: 15em;
        width: 15em;
    }
}