.Chart5 {
    background: rgba(0, 0, 0, .3);
    display: flex;
    display: none;
    justify-content: center; 
    width: 100vw;
    height: 100vh;
    padding: 1em;
    position: absolute;
    z-index: 2000;
    background: #fff; 

    .inner {
        overflow: scroll; 
        padding: 1em;
        width:65%; 

        canvas {
            margin-bottom: 5em;
        }
    }
}