.Chart5 {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2000;
    background: #fff; 

    .inner {
        overflow: scroll; 
        width:60%; 
    }
}