.idle { background-color: #fff; }
.docking { background-color: #03AED2; }
.operation { background-color: #A87676; }
.breakdown { background-color: #da1e28; }
.maintenance { background-color: #52f781; }
.inspection { background-color: #ff832b; }
.bunkery { background-color: #8a3ffc; }